<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      <p>
        See what's baking!
      </p>
      <small>
        the freshed treats, baked with care from those you know
      </small>
    </h2>
  </div>
</div>
<br>

<div class="row">
  <% @foods.each do |food| %>
  <div class="col-md-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><%= food.foodname %>
          <small>
            baked by <%= food.user.username %> (<%= food.servings_avail %> available)
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <div class="image">
          <a href="/foods/<%= food.id %>"><img src="<%= food.image %>" class="img img-responsive full-width"></a>
        </div>

        <p><%= food.description %></p>

        <p>Pickup between:</p>
        <p><%= food.pickuptime_start.strftime('%b %e, %Y %H:%M %P') %></p>
        <p><%= food.pickuptime_end.strftime('%b %e, %Y %H:%M %P') %>.</p>
        <a href="/orders/<%= food.id %>/new" class="btn btn-block btn-success" rel="nofollow">Order: <%= number_to_currency(food.price) %> </a>

      </div>
    </div>
  </div>
  <% end %>
</div>
