

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h3><%= @food.foodname %></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">


      <div class="panel panel-default">
        <div class="panel-body">
          <dl>
           <dt>Description</dt>
           <dd><%= @food.description %></dd>

           <dt>Servings avail</dt>
           <dd><%= @food.servings_avail %></dd>

           <dt>Servings purch</dt>
           <dd><%= @food.servings_purch %></dd>

           <dt>Image</dt>
           <dd><img src="<%= @food.image %>" class="img-responsive"></dd>

           <dt>Pickuptime start</dt>
           <dd><%= @food.pickuptime_start %></dd>

           <dt>Pickuptime end</dt>
           <dd><%= @food.pickuptime_end %></dd>

         </dl>
       </div>
     </div>




     <div class="btn-group btn-group-justified">
      <a href="/foods" class="btn btn-primary">
        Back
      </a>
      <a href="/foods/<%= @food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food/<%= @food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <h3>
            <dt>Seller</dt>
            <dd><%= @food.user.username %></dd>
          </h3>

          <dt>Seller Location</dt>
          <dd><%= @food.user.location %></dd>

          <dt>Seller Bio</dt>
          <dd><%= @food.user.bio %></dd>
        </dl>

      </div>
    </div>
  </div>

</div>
</div>
